@model City

<div>
    <form asp-action="edit">
        <div class="form-group">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>